@import "../../../variables.scss";

div.item {
    flex-wrap: wrap;
    margin: 0 0 2.5rem;

    @media screen and (max-width: $medium) {
        margin: 0 1rem 2.5rem 1rem;
    }

    &:hover {
        background: rgba(0,0,0,.2);
    }
    
    & h3 {
        font-weight: 500;
        font-size: 1rem;
        margin: 0.2rem;

        &.jobRole {
            color: $textColorDark;
            display: inline-block;
        }
    
        &.jobDate,
        &.company {
            color: $textHighlight
        }

        &.jobDate {
            text-align: right;
            float: right;
        }

        &.company {
            display: block;
            flex: 0 0 100%;
        }
    }

    & p.description {
        margin: 1rem 0.2rem 0.2rem 0.2rem;

        @media screen and (max-width: $medium) {
            flex: 0 0 100%;
        }
    }

    & ul {
        margin-top: 0;
    }
}


