<div class="sidebar" id="sidebar">
    <app-profile-picture></app-profile-picture>
    <div class="details" id="details">
        <ul>
            <li>
                <app-icon [iconType]="envelopeIcon"></app-icon>
                <a class="link" href="mailto:jmabranquinho@gmail.com">jmabranquinho@gmail.com</a>
            </li>
            <li>
                <app-icon [iconType]="phoneIcon"></app-icon>
                <a class="link" href="tel:+351936255694">+351 936255694</a>
            </li>
            <li>
                <app-icon [iconType]="linkedinIcon"></app-icon>
                <a class="link" href="https://www.linkedin.com/in/jorgebranquinho">jorgebranquinho</a>
            </li>
            <li>
                <app-icon [iconType]="githubIcon"></app-icon>
                <a class="link" href="https://github.com/jmaBranquinho">jmaBranquinho</a>
            </li>
            <li>
                <app-icon [iconType]="mapIcon"></app-icon>
                <a class="link" href="https://goo.gl/maps/QC5iGKeVTDtiC53e8">Corroios, Portugal</a>
            </li>
        </ul>
    </div>
    <app-education></app-education>
    <app-languages></app-languages>
</div>