@import "../../variables.scss";

div.container#cv-content {
    width: 100%;
    height: 100%;
    padding: 3rem;
    box-sizing: border-box;

    @media screen and (max-width: $medium) {
        margin: auto;
        padding: 0;
    }

    & p.bio {
        @media screen and (max-width: $medium) {
            margin: auto 1rem;
        }
    }

    & div.skill-list {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 1fr
    }

    & p.other-skills {
        @media screen and (max-width: $medium) {
            margin: auto 1rem;
            text-align: center;
          }
    }
}