$primaryColorLight: #42a8c0;
$primaryColorDark: #2d7788;
$PagebackgroundColor: #f5f5f5;
$CVbackgroundColor: #fff;
$textColor: #545e6c;
$textColorLight: #d3d3d3;
$textColorDark: #3f4650;
$textHighlight: #97aac3;
$skillPoints: #7bc2d3;

// media query sizes
$small: 700px;
$medium: 1200px;